# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environments
venv311/
venv313/
venv/
env/
ENV/
.venv/
.uv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Uv (virtual environment manager)
.uv/

data/
